@import "~@fremtind/jkl-core/variables/_spacing.scss";
@import "~@fremtind/jkl-core/variables/_font-size.scss";
@import "~@fremtind/jkl-core/mixins/_helpers.scss";

.jkl-portal-swatch-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(128px, 1fr));
    gap: $component-spacing--xl;

    &--large {
        grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
    }
}

.jkl-portal-swatch {
    & > &__name {
        @include h5-heading;
        margin-bottom: $component-spacing--medium;
    }

    & > &__swatch {
        height: rem(100px);
    }

    & > &__values {
        @include micro-paragraph;
        margin-top: $component-spacing--small;
    }

    &--large > &__swatch {
        height: rem(200px);
    }

    &--bordered > &__swatch {
        box-shadow: inset 0 0 0 rem(1px) #000;
    }
}
