.dnb {
    --button-bg-color--primary: #007272;
    --button-radius: 999px;
    --button-text-color: #ffffff;
    --button-border-color: #007272;
    --hover-transform: scale(1);
    --hover-background-color: #ffffff;
    --hover-text-color: #007272;
    --font-family: monospace;
    --button-height--large: 2.5rem;
}
.dnb1 {
    --button-bg-color--primary: #007272;
    --button-radius: 999px;
    --button-text-color: #ffffff;
    --button-border-color: #007272;
    --font-family: monospace;
    --hover-background-color: #007272;
    --hover-text-color: #ffffff;
}

body {
    background-color: #e9f8f4;
}
