.dnb {
    --button-bg-color--primary: #007272;
    --button-radius: 999px;
    --button-text-color: #ffffff;
    --button-border-color: #007272;
    --hover-transform: scale(1);
    --hover-background-color: #ffffff;
    --hover-text-color: #007272;
    --font-family: monospace;
    --button-height--large: 2.5rem;
}
.dnb1 {
    --focus-color: rgb(0, 114, 114);
    --error-color: rgb(220, 42, 42);

    --button-bg-color--primary: #007272;
    --button-radius: 999px;
    --button-text-color: #ffffff;
    --button-border-color: #007272;
    --font-family: monospace;
    --hover-background-color: #007272;
    --hover-text-color: #ffffff;

    // test inputs:
    --input-placeholder-color: rgb(0, 114, 114);
    --input-border-color: rgb(20, 85, 90);
    --input-border-color--focus: rgb(0, 114, 114);

    // select menus:
    --select-border-color: rgb(20, 85, 90);
    --select-border-color--focus: rgb(0, 114, 114);
    --select-bg-color--options: white;
    --select-bg-color--option-hover: rgb(20, 85, 90);

    --radio-button-background-color: white;
    --radio-button-background-color--hover: rgb(20, 85, 90);
    --radio-button-color: rgb(20, 85, 90);
}
