:root {
    --button-bg-color--primary: black;
    --button-radius: 999px;
    --button-text-color: #fafafa;
    --button-border-color: black;
    --hover-transform: scale(1.05);
    --hover-background-color: black;
    --hover-text-color: #fafafa;
    --font-family: "AkkuratPro";
    --button-height--large: 3.5rem;
}

/* body {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-image: url(./mountain.jpg);
}
 */
