@import "~@fremtind/jkl-core/variables/_all.scss";

.portal-editor {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 1001;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.7);
    background-color: $varde;
    padding: $component-spacing--large;
}

.portal-edit {
    display: flex;
    justify-content: space-around;

    &__components {
        display: flex;
        flex-direction: column;
        & > * {
            margin: $component-spacing--medium 0;
        }
    }
}
